
{{template "head"}}
<title>creacion de usuario</title>
<h1>crea tu usuario aqui</h1>
<hr>
<form method="post" action="/users/create">
    <div class="mb-3">
        <label for="nombre" class="form-label">NOMBRE</label>
        <input type="text" class="form-control" name="nombre" placeholder="Tomas Cerutti" required> 
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">CORREO</label>
      <input type="email" class="form-control" name="correo" placeholder="nombre@mail.com" required> 
    </div>

    <div class="mb-3">
      <label for="pass1" class="form-label">CONTRASEÑA</label>
      <input type="password" class="form-control" id="pass1" required>
    </div>

    <button type="submit" class="btn btn-success">registrar usuario</button>
  </form>


{{template "footer"}}